#metadata-browse-properties .field.delete {
  background-color: #fcc;
}

#metadata-browse-properties .collapse+.collapsible {
  margin-top: .5em;
}

#metadata-browse-properties .restore-property {
  display: none;
}

.resource-metadata-browse {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  min-width: 0;
}

.resource-metadata-browse .resource-name {
  flex: 1;
  min-width: 0;
}

.resource-metadata-browse .resource-link {}

.resource-metadata-browse .resource-link img {
  vertical-align: middle;
  margin-right: .5em;
}

a.metadata-browse-link {
  font-size: 75%;
  display: block !important;
}

a.metadata-browse-direct-link:has(.color-swatch) {
  margin-left: 0;
}

a.metadata-browse-direct-link {
  margin-left: .5em;
}

a.uri-value-link.info {
  margin-left: .5em;
}

a.resource-link.cube {
  margin-left: .5em;
}

.property .value.uri a.uri-value-link.info:after {
  content: none;
}

.property .value.items .resource-metadata-browse .resource-name:after {
  content: none;
}